<h1>コメント編集</h1>

<%= form_with(model: [@park, @comment], local: true) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> が発生しました:</h2>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :content, "コメント内容" %>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <!-- 施設情報 -->
  <div class="form-group">
    <h3>施設情報</h3>
  <div class="checkbox-group">
    <% [
      [:toilet, "トイレ"],
      [:diaper_changing_station, "オムツ台"],
      [:vending_machine, "自販機"],
      [:shop, "売店"],
      [:parking, "駐車場"],
      [:slide, "滑り台"],
      [:swing, "ブランコ"]
    ].each do |attribute, label| %>
      <label>
        <%= form.check_box attribute %>
        <%= label %>
      </label><br>
    <% end %>
   </div>
  </div>

  <div class="field">
  <%= form.label :photos, "写真をアップロード（最大5枚）" %>
    <%= form.file_field :photos, multiple: true, class: "file-input" %>
    <%= form.file_field :photos, multiple: true, class: "file-input" %>
    <%= form.file_field :photos, multiple: true, class: "file-input" %>
    <%= form.file_field :photos, multiple: true, class: "file-input" %>
    <%= form.file_field :photos, multiple: true, class: "file-input" %>
</div>


  <div class="actions">
    <%= form.submit "更新する", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to '戻る', park_path(@park), class: 'btn btn-secondary' %>
