<!DOCTYPE html>
<html>
  <head>
    <title>GoGoPark</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <title>Your App Name</title>
  
  <!-- Google Maps JavaScript API -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2geOR61ptjB2NxokCTPG4EGYUGW2XDaU&libraries=places" async defer></script>
  </head>

  <body>
    
    <%= yield %>
  </body>
</html>
